.campos-fechado{
	-fx-background-color: rgb(192,192,192);
	-fx-text-fill: rgb(192,192,192); 
}
.campos-mina{
	-fx-background-color: rgb(237,28,36);
	-fx-text-fill: rgb(237,28,36);
}
.campos-normal{
	-fx-background-color: rgb(0,128,255);
	-fx-text-fill: rgb(0,128,255);
}
.campos-normal-txt1{
	-fx-background-color: rgb(0,128,255);
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 12px;
}
.campos-normal-txt2{
	-fx-background-color: rgb(0,128,255);
	-fx-text-fill: yellow;
	-fx-font-weight: bold;
	-fx-font-size: 12px;
}
.campos-normal-txt3{
	-fx-background-color: rgb(0,128,255);
	-fx-text-fill: rgb(255,128,0);
	-fx-font-weight: bold;
	-fx-font-size: 12px;
}
.campos-marcados{
	-fx-background-color: rgb(192,192,192);
	-fx-text-fill: black;
	-fx-font-weight: bold; 	
}
.botao-voltar{
	-fx-background-color: #fff;
	-fx-background-radius: 30px;
	-fx-border-radius: 30px;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-text-fill: #48b2ee;
	-fx-font-size: 16px;
	-fx-min-width: 5px;		
	-fx-min-height: 20px;
}
